/*
// 이거 싹다 적용해야 될걸
font-family: "main_font";
font-size: 5px;	
overflow-y: auto;
*/

.fixed{
	position: fixed; 
	width: 100%;
}

.line{
	text-align: center;
	font-size: 30px;
	color: rgb(217,217,217);
	font-family: "main_font";
	font-weight: bold;
}
.locName_and_btn_back{
	/* < 장소이름 - 취소버튼 겸 장소이름 */
	height: 50%;
	width: 50%;
	font-family: "main_font";
	font-size: 25px;
	color: rgb(255,233,189);
}

.front_image{
	height: 400px;
	width: 300px;
	text-align: center;
	
	margin-left: auto;
	margin-right: auto;
	
	display: flex;
  	flex-direction: column;
}
.loc_info_expln{
	/* 장소이름 + 장소설명*/
	height: 60%;
	width: 90%;
	margin: auto;
	display: flex;
  	flex-direction: column;
}
.loc_name{
	height: 90%;
	width: 100%;
	
	/* 장소이름(굵은)  ex) 젠틀가든 팝업 스토어 */
	font-family: "main_font";
	font-size: 15px;
	font-weight: bold;

	overflow-y: auto;
	margin: auto;
}
.loc_explanation{
	height: 90%;
	width: 100%;
	margin: auto;
	/* 장소설명~~~~ */
	font-family: "main_font";
	
	font-size: 15px;
	color: rgb(112,112,112);
}




.conges_info_inner{	
	height: 100%;
	width: 100%;
	
	margin: auto;
	background-color: rgb(236,236,236);
	border-radius: 0.7rem;
	
}
.conges_info{
	height: 90%;
	width: 90%;
	
	display: flex;
	flex-direction: column;
	margin: auto;
}
.d_cong{
	height: 90%;
	width: 90%;
	margin: 10px;
	
	/* 요일별 혼잡도 */
	font-family: "main_font";
	font-size: 16px;
	color: rgb(112,112,112);
	font-weight: bold;
	
}
.d_cong_expln{
	margin: 10px;
	
	/* 월-일 일주일 간 방문객 수를 나타낸 혼잡도입니다. */
	font-family: "main_font";
	font-size: 16px;
	color: rgb(166,166,166);
	
}
.days{
	height: 100%;
	width: 100%;
	
	/* 월화수목금토일 */
	font-family: "main_font";
	font-size: 14px;
	text-align: center;
	font-weight: bold;
	color: rgb(112,112,112);
}
.cong_circles{
	text-align: center;
	height: 15px;
	display: flex;
	justify-content: flex-start;
}

.c_green{
	/*position: absolute;*/
	/*width: 18px;*/
	height: 15px;

	font-weight: 900;
	font-size: 40px;
	line-height: 48px;
	text-align: center;
	color: #70E08F;
}
.c_yellow{
	/*position: absolute;*/
	/*width: 18px;*/
	height: 15px;

	font-weight: 900;
	font-size: 40px;
	line-height: 48px;
	text-align: center;
	color: #FFFA7A;
}
.c_orange{
	/*position: absolute;*/
	/*width: 18px;*/
	height: 15px;

	font-weight: 900;
	font-size: 40px;
	line-height: 48px;
	text-align: center;
	color: #FFA572;
}
.c_red{
	/*position: absolute;*/
	/*width: 18px;*/
	height: 15px;

	font-weight: 900;
	font-size: 40px;
	line-height: 48px;
	text-align: center;
	color: #FF7A7A;
}


.map_div{
	height: 100%;
	width: 100%;
}
.loc_info_with_map{
	height: 90%;
	width: 90%;
	
	/* 위치정보 */
	font-family: "main_font";
	font-size: 15px;
	font-weight: bold;
	margin: auto;
}
.map_and_expln{
	height: 90%;
	width: 90%;
	
	/* 해당 장소의 위치정보입니다. */
	font-family: "main_font";
	font-size: 15px;
	color: rgb(112,112,112);	
	z-index: 3;
	margin: auto;
}

.photos_collection{
	/* 사진 모음*/
	height: 90%;
	width: 90%;
	
	font-family: "main_font";
	font-size: 15px;
	font-weight: bold;
	
	margin: auto;
}
.img_and_expln{
	height: 90%;
	width: 90%;
	/* 방문자 및 한국관광공사 제공 사진입니다.*/
	font-family: "main_font";
	font-size: 15px;
	color: rgb(112,112,112);
	
	margin: auto;
}
.photos{
	font-family: "main_font";
	font-size: 10px;
	margin: auto;
}
.photo_div{
	height: 100%;
	width: 100%;
}





.inner-carousel{
    display: flex;
	justify-content: flex-start;
	
	height: 100%;
	width: 100%;
}
.item7777{
	/*
	min-height: 30rem;
    min-width: 20rem;
	*/
    padding: 10px;
	width: 150px;
	
	margin-right: 4px;
	margin-left: 4px;
	
	height: 100%;
	/*
	width: 320px;
	height: 320px;
	*/
}

.item7777 img{
	
    width: 150px;
    height: 150px;
	
	/*
	width: 120%;
    height: 50%;
	*/
	
    border-radius: 0.5rem;  
    pointer-events: none;
	
	margin-bottom: 10px;
	padding: 0.1px;
}
.dragAreaRef{
    cursor: grab;
    overflow: hidden;
	
	height: 100%;
	width: 100%;	
	
}