.KeenSlider{
	background-color: white;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
	box-shadow: 0 -10px 10px -8px gray;

}

/*
box-shadow: none | x-position y-position blur spread color | inset | initial | inherit
*/